.button {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #01a7fd;
    transition: 0.3s;
    line-height: 24px;
    letter-spacing: 0px;
    height: 44px;
    border: none;
    background: white;
}

.border {
    border: 2px solid #01a7fd;
    border-radius: 100px;
    padding: 10px 20px;
}

.border:hover {
    background-color: rgb(236, 251, 253);
    color: #01a7fd;
}

.button:hover {
    color: #df0000;
}

.blue {
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    background: #01a7fd;

}

.blue:hover {
    color: white;
    background: #df0000;
}
