.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    background: #FAFAFA;
    box-shadow: 0px 1px 0px rgba(17, 17, 17, 0.1);
}

.f_text {
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0px;
}
